[Desktop Entry]
Name=Logoi
Comment=Leitura acadêmica com IA
Exec=/opt/logoi/logoi
Icon=logoi
Terminal=false
Type=Application
Categories=Office;Education;
StartupWMClass=dev.logoi.logoi
